li,
p {
  max-width: 70ch;
  font-size: 1.625rem;
  font-size: clamp(1.125rem, 1vw + 1rem, 1.425rem);
}
ul,
p {
  margin-bottom: 3rem;
}

.published-at {
  font-weight: 100;
  margin-bottom: 2rem;
}

.published-at time {
  font-weight: bolder;
}
