/* :root {
  --color-dark-cyan: #07191d;
  --color-cyan: #2ec8ee;
  --color-cyan-6: #064150;
  --color-cyan-8: #00647d;
  --color-orange: #ff8b3e;
  --theme-background: var(--color-dark-cyan);
  --theme-foreground: var(--color-cyan);
  --theme-secondary: var(--color-orange);
  --theme-accent: var(--color-cyan-light);
  --font-heading: Cambria, Georgia, serif;
  --font-copy: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
  --font-weight-test: 500;
  --animation-transform: cubic-bezier(0.16, 1, 0.3, 1);
}
* {
  box-sizing: border-box;
}
html,
body {
  color: var(--theme-foreground);
  background: var(--theme-background);
  font-family: var(--font-copy);
  font-size: 18px;
}

body {
  width: 90%;
  margin: 0 auto;
  max-width: 1024px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: 400;
}
h1 {
  font-size: 3.5rem;
  font-weight: 250;
  margin-block-start: 3rem;
  margin-block-end: 3rem;
}

h1.small {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4.5rem;
  }

  h2 {
    font-size: 3.2rem;
  }
}

h2 {
  font-size: 3rem;
  font-weight: 400;
  margin-block-start: 2rem;
  margin-block-end: 2rem;
}

h3 {
  font-size: 2rem;
  font-weight: 555;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
}

p,
ul,
li {
  font-size: 1.5rem;
  line-height: 150%;
}
ul,
li {
  font-weight: 400;
}
li {
  line-height: 150%;
}
p {
  font-weight: 200;
}

section {
  margin-bottom: 2rem;
} */


/* .list li {
  padding-left: 4px;
  margin-bottom: 14px;
}

hr {
  border-color: var(--theme-accent);
  margin: 4rem 0;
}
.about-me {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
}
.lately-holder a {
  font-weight: 200;
}
@media screen and (min-width: 800px) {
  .lately-holder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }
}

.headshot {
  max-width: 250px;
  flex: none;
  width: 100%;
  object-fit: contain;
  aspect-ratio: 1/1;
  border-radius: 100%;
}

a {
  color: var(--theme-secondary);
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
  text-decoration-color: var(--theme-secondary);
  font-weight: 300;
  transition: text-decoration-color 0.3s var(--animation-transform);
}
a:hover {
  text-decoration-color: transparent;
}
a b {
  font-weight: 700;
}
b {
  font-weight: bolder;
}
@media screen and (min-width: 600px) {
  .about-me {
    flex-direction: row;
  }
  .headshot {
    width: 33%;
  }
}

.contact-form {
  max-width: 550px;
}
.contact-form label {
  color: var(--theme-secondary);
  margin-bottom: 4px;
  margin-top: 1rem;
  font-weight: 300;
}

input,
textarea {
  border-radius: 8px;
  padding: 0 1rem;
  min-height: 45px;
  font-family: unset;
}

input:focus-visible,
textarea:focus-visible {
  outline: none;
  box-shadow: 0 0 1px 2px var(--theme-foreground);
}

input::placeholder,
textarea::placeholder {
  color: var(--theme-background);
  opacity: 0.7;
}

textarea {
  padding: 1rem;
}

button {
  -webkit-appearance: button;
  background-color: var(--theme-secondary);
  border: none;
  padding: 0.8rem;
  border-radius: 8px;
  margin-top: 1rem;
  font-weight: 700;
  font-size: 1.2rem;
  font-family: unset;
  cursor: pointer;
}

.pill,
a.pill {
  font-size: 0.875rem;
  font-variation-settings: "wght" 300;
  text-decoration: none;
  display: inline-block;
  color: var(--theme-foreground);
  border: 1px solid var(--color-cyan-6);
  background-color: #061e24;
  border-radius: 8px;
  margin: 12px;
  margin-left: 0;
  line-height: 1;
  padding: 0.5rem 1rem;
  transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
} */

/* .pill:hover, .pill:focus {
  font-variation-settings: "wght" 700;
  border-color: var(--theme-background);
  color: var(--theme-background);
  background: var(--theme-foreground)
} */
