
:root {
    --color-gray: #0B1418;
    --color-green: #6FC381;
    --color-peach: #ffb29f;
    --theme-background: var(--color-gray);
    --theme-foreground: var(--color-green);
    --theme-accent: var(--color-peach);
    --font-copy: 'Roboto Mono', monospace;
    --font-weight-test: 500;
}

html, body {
    color: var(--theme-foreground);
    background: var(--theme-background);
    font-family: var(--font-copy);
    font-size: 16px;
}

body {
    width: 90%;
    margin: 0 auto;
    max-width: 1024px;
}

h1 {
    font-size: 5rem;
    font-weight: 100;
}

h2 {
    font-size: 3.2rem;
    font-weight: 400;
}

h3 {
    font-size: 2rem;
    font-weight: 555;
}

p, ul, li {
    line-height: 1.7;
    font-size: 1.2rem;
    font-weight: 400;
}

hr {
    border-color: var(--theme-accent);
}
.headshot {
    display: inline-block;
    width: 30%;
    max-width: 300px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    overflow: hidden;
}

.headshot img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}